<header class="bg-dark flex-md-nowrap navbar shadow sticky-top" data-bs-theme="dark">
  <a class="navbar-brand me-0 px-3 fs-6 text-white text-wrap" href="#">Gerenciamento de Contatos</a>

  <ul class="navbar-nav flex-row d-md-none">
    <li class="nav-item text-nowrap">
      <button class="nav-link px-3 text-white" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebarMenu"
        type="button" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <i class="bi bi-list"></i>
      </button>
    </li>
  </ul>
</header>